server:
  port: 8082

spring:
  application:
    name: service-client
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        healthCheckPath: /actuator/health
        healthCheckInterval: 10s
        hostname: localhost
