server:
  port: 8081

spring:
  application:
    name: service-voiture
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        healthCheckPath: /actuator/health
        healthCheckInterval: 10s
        hostname: localhost
